spring:
  application:
    name: eureka-server
server:
  port: 8761
eureka:
  username: ${EUREKA_USERNAME:eureka}
  password: ${EUREKA_PASSWORD:password}
  client:
    register-with-eureka: false
    fetch-registry: false
  instance:
    hostname: localhost
logging:
  level:
    com:
      netflix:
        eureka: OFF
        discovery: OFF