spring:
  application:
    NAME: url-service
  datasource:
    url: jdbc:postgresql://localhost:5432/shortly
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false #true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
server:
  port: 0
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
